* {
  margin: 0;
  padding: 0;
}

#banner-home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#banner-booking {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(img/pic-2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 8%;
}

.banner-text {
  text-align: center;
  color: white;
  padding-top: 180px;
}

.banner-text h1 {
  font-size: 130px;
  font-family: "Comfortaa", cursive;
}
.banner-text p {
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}
.banner-btn {
  margin: 70px auto 0;
}
.banner-btn a {
  font-family: "Comfortaa", cursive;
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
}
.banner-btn a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner-btn a:hover span {
  width: 100%;
}
.banner-btn a:hover {
  color: #000;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background: #009688;
  z-index: 2;
}
nav ul li {
  font-family: "Comfortaa", cursive;
  list-style: none;
  margin: 50px 20px;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
#menuBtn {
  width: 50px;
  height: 50px;
  text-align: center;
  background: #009688;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }
  .banner-text a {
    display: block;
    margin: 20px auto;
  }
}
.title-text {
  text-align: center;
  padding: 40px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: #009688;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: "Indie Flower", cursive;
}
.title-text h1 {
  font-size: 50px;
  font-family: "Comfortaa", cursive;
}
.title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.feature {
  flex-basis: 50%;
}
.feature-img {
  flex-basis: 50%;
  margin: auto;
}
.feature-img img {
  width: 70%;
  border-radius: 10px;
}
.feature-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}
.feature h1 {
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #009688;
  font-family: "Comfortaa", cursive;
}
.feature-icon {
  width: 99px;
  height: fit-content;
  font-size: 35px;
  line-height: 50px;
  border-radius: 8px;
  color: #009688;
  border: 1px solid #009688;
}

.feature-text p {
  padding: 0 10px;
  text-align: initial;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}
@media screen and (max-width: 770px) {
  .title-text h1 {
    font-size: 35px;
  }
  .feature {
    flex-basis: 100%;
  }
  .feature-img {
    flex-basis: 100%;
  }
  .feature-img img {
    width: 100%;
    border-radius: 10px;
  }
}

#service {
  width: 100%;
  padding: 70px;
  background: #efefef;
}
/* services */
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity : 0;
	transition : 1s;
}
 hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p {
  font-size: 14px;
  font-family: "Comfortaa", cursive;
}
.service-desc h3 {
    font-family: "Comfortaa", cursive;
}
.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width: 770px) {
  .single-service
	{
		flex-basis : 100%;
		margin-bottom : 30px;
	}
	.service-desc p 
	{
		font-size : 12px;
    font-family: "Comfortaa", cursive;
	}
	hr
	{
		margin : 5px auto;
	}
	.single-servcie:hover .service-desc
	{
		bottom : 25% !important;
	}
}
#testimonial
	{
		width : 100%;
		padding : 70px;
	}
  .testimonial-row
  {
    width : 80%;
		margin : auto;
		display : flex;
		justify-content : space-between;
		align-items : flex-start;
		flex-wrap : wrap;
  }
  .testimonial-color
  {
    flex-basis : 28%;
		padding : 10px;
		margin-bottom : 30px;
		border-radius : 5px;
		box-shadow : 0 10px 20px 3px #00968814;
		cursor : pointer;
    transition : trasnform .5s;
  }
  .testimonial-color p
  {
    font-size : 14px;
    font-family: "Comfortaa", cursive;
  }
  .user
  {
    display : flex;
		align-items : center;
		margin : 20px 0;
  }
  .user img 
	{
		width : 40px;
		margin-right : 20px;
		border-radius : 3px;
	}
  .user-info h4 i
	{
		margin-left : 10px;
		color : #27c0ff;
		font-size : 20px;
    
	}
  .user-info h4
  {
    font-family: "Comfortaa", cursive;
  }
	.user-info small
	{
		color : #009688;
    font-family: "Indie Flower", cursive;
	}
	.testimonial-color:hover
	{
		transform : translateY(-7px);
	}

  /* booking */
  .container {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
    left: 50%;
    width: 40rem;
  }
  
  form {
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    height: 30rem;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  form p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form h1 {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
  }
  form a:hover {
    text-shadow: 2px 2px 6px #00000040;
  }
  form a:active {
    text-shadow: none;
  }
  #d_method {
    background: transparent;
    width: 400px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: rgb(7, 0, 0);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form input {
    background: transparent;
    width: 400px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: rgb(7, 0, 0);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  form input[type=email]:focus, form input[type=password]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }
  form input[type=button] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
  }
  form input[type=button]:hover {
    cursor: pointer;
  }
  form input[type=button]:active {
    background: rgba(255, 255, 255, 0.2);
  }
  form:hover {
    margin: 4px;
  }
  
  ::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(7, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  :-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  ::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(7, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .drop {
    background: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
  }
  .drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
  }
  .drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
  }
  .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
  }
  .drop-4 {
    height: 120px;
    width: 120px;
    top: -40px;
    right: -60px;
  }
  .drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
  }
  
  a,
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }